body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 12px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    border: 2px solid black;
}

.grids {
    height: 40x;
    width: 40px;
}

